div {
    width: 50%;
    border: 1px solid #f00;
    margin: 100px auto
}
 p {
    height: 300px;
    background-color: #ddd;
    border: 1px dashed #000;
}
.box1 {
    display: flex;
    justify-content:space-between;
    /* justify-content: space-around;  */
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* justify-content: right; */
    
    
}
.box1 > p {
    width: 20%; 
    
}



.box2 {
    display: flex;
    align-items: flex-end;

    /* *flex-start, center, flex-end */
    height: 400px;
}
.box2 > p {
    width:30%;
}



.box3{
    display: flex;
    justify-content: left;
    overflow:hidden;
}
.box3 > p{
    width:100%;
    flex-shrink:0;
    margin:0;
}
    .box3:hover > p{
        margin-left: -30%;
        background-color: antiquewhite;
        transition: 0.5s;
    }







.box4{
    display:flex ;
}
.box4 > p{
    flex-grow: 1;
    margin:0;
}
.box4 > p:hover {
    flex-grow:10;
    transition:1s;
   
}



.box5{
    display:flex;
    flex-wrap:wrap;

}
.box5 > p{
    width:50%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5 > p:nth-of-type(1){order:1}
.box5 > p:nth-of-type(2){order:3}
.box5 > p:nth-of-type(3){order:2}
.box5 > p:nth-of-type(4){order:4}


.ex1 {
    width: 50%; height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ex1 b {
    font-size: 40px;
}
.ex2 {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    
}
.ex2 > p { margin:0px; height: 100%;}
.ex2 > p:nth-of-type(1) { width:70%; }
.ex2 > p:nth-of-type(2) { 
    width:20%; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.ex2 > p:nth-of-type(2) > span {
    width:100%; height:20%;
    background-color:#f00;
}

*{box-sizing: border-box;}
.ex3{
    display: flex;
    align-items: center;
}
.ex3 > div{ width: 50%; margin:20px; }
.ex3 > div:nth-of-type(1){
    height:400px; background-color: #ddd;
    border-style:none;
   
}
.ex3 > div:nth-of-type(2){
    height:300px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    border-style:none;
    
}
.ex3 > div:nth-of-type(2) > strong{
    font-size:32px;
}
.ex3 > div:nth-of-type(2) p{
    background-color: transparent;
    border:none;
    height:auto;
    align-items: center;
    line-height: 180%;
}
.ex3 > div:nth-of-type(2) a{
    background-color: yellow;
    display: inline-block;
    padding:10px 20px;
    text-decoration:none;
}
.ex3 > div:nth-of-type(1) img{
    height:100%;
    width:100%;
    object-fit:cover;
}



.ex4{
    width:70%;
    height:auto;
    padding:30px;
    text-align: center;
}
.ex4 > ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:0;

    
}
.ex4 > ul > li{
   
    width:30%;
    height:30%;
    list-style-type: none;
}
.ex4 > ul > li > p:nth-of-type(1){
    height:200px;
    margin:40xp 0px 20px 0px;
    border-style: none;
}
.ex4 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ex4 > ul > li > div {
    margin:0px;

    border-style: none;
}
.ex4 > ul > li > p:nth-of-type(2) {
    
    height:auto;
    background-color: transparent;
    margin:0;
    border-style:none;
}
.ex4 > ul > li:hover > p > img{
    transform: scale(1.5);
}
.ex4 > ul > li > p > img{
    transition: 0.5s;
}
.ex4 > ul > li > p {
    overflow:hidden;
}
